{template "content","header_product"}
<div id="etao-second-sub-nav" >
	    <ul class="nav-item-list clear-fix">
		{loop subcat(getinfocache('info_catid'),0,0,$siteid) $key $r}
		<li class="nav-second-item {if $n==1}first{/if} {if $r['catid']==$catid}now{/if}">
            <a target="_blank" class="sub-nav-link" href="{$r[url]}">{$r[catname]}</a>
        </li>
		{/loop}
    </ul>
    <div class="nav_new"><img src="{IMG_PATH}product/T19ihrFbJhXXX6Ya_d-29-18.gif" title="NEW"></div>
</div>
		<div id="content">
	<div class="pbloading2" align="center">
 
    <div class="proleftbox">
    <div class="navbar">
	<a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)} <a href="{$url}">{$title}</a>
	</div>
    <div class="proinfo">
    <div class="proinfotitle">{$title}</div>

<div class="proxq">
<div class="proinfopic"><img src="{$thumb}" width="324" height="305"></div>
<div class="proinfopicright">
<div class="proright_title">{$title}</div>
<div class="proright_list">本店售价：<font color="#FF0000" style="font-weight:bold">￥{$price}</font></div>
<div class="proright_list">商品货号：{$product_num}</div>
<div class="proright_list">累计售出：355件&nbsp;&nbsp;商品点击数：<font color="red" id="hits">0</font></div>
<div class="proright_listbuy"><a href="javascript:void(0);" onclick="add_buycar(this, '{$id}', '{$modelid}');"><img src="{IMG_PATH}product/buy.jpg" width="142" height="44"></a>
<a href="javascript:void(0);" onclick="add_buycar(this, '{$id}', '{$modelid}', '1');"><img src="{IMG_PATH}product/buy.jpg" width="142" height="44"></a>
</div>
</div>

<div style="clear:both;"></div>

</div>
<div class="spxqbanner"><img src="{IMG_PATH}product/spqx.jpg" ></div>
<div class="sqxqcontent">
{$content}
<ul class="pic picbig clear">
{loop $photos $photo}
	<li><div class="img-wrap"><a href="{$photo['url']}" title="{$photo['alt']}" target="_blank"><img src="{$photo['url']}" width="120" height="160" /></a></div></li>
{/loop}
</ul>
</div>

    </div>
    </div>

    <div class="prorightbox">
    <div class="protightitle">热门推荐</div>
    <div class="tjbox">

	{pc:content action="lists" catid="$catid" num="11" order="id DESC"}
	{loop $data $r}
		<div class="tjlist">
    <div class="tjlist_pic"><a href="{$r[url]}"><img src="{$r[thumb]}" onerror="this.src='{$r[thumb]}' width="80" height="75"></a></div>
    <div class="tjlist_right">
    <div class="tj_title"> <a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],34,'')}</a></div>
<div class="tj_price">￥{$r[price]}</div>
<div class="tj_ysc">已经售出<font color="#FF0000">38328</font>笔</div>
    </div>
    <div style="clear:both;"></div>
    </div>
	{/loop}	
	{/pc}
    
    <div style="clear:both;"></div>
    </div>
    
     <div class="protightitle">最新商品</div>
     <div class="tjbox">
    
    <div class="tjlist">
    <div class="tjlist_pic"><a href="#"><img src="{IMG_PATH}product/323.jpg" width="80" height="75"></a></div>
    <div class="tjlist_right">
    <div class="tj_title"> <a href="#">哥伦比亚 Columbia 8-20 青年三合一冲锋衣</a></div>
<div class="tj_price">￥388元</div>
<div class="tj_ysc">已经售出<font color="#FF0000">38328</font>笔</div>
    </div>
    <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>
    </div>
    </div>
    <div style="clear:both;"></div>
    </div>
</div>	<!--content end-->

<div class="show-buycar" id="show-buycar">
	<div class="title"><a href="javascript:;" onclick="$('.show-buycar').hide();" class="close">关闭</a><strong>提示</strong></div>
    <div class="content">
    	<h2>已成功添加到购物车！</h2>
        <p>购物车里已有 <font color="#FF0000" class="fb" id="product_num">0</font> 件商品。总价 <font color="#FF0000" class="fb f20" id="product_fee">0.00</font> 元。</p>
        <p class="bottom"><a href="{APP_PATH}index.php?m=yp&c=index&a=buycar_list" class="sbtn ib">去购物车结算</a></p>
    </div>
</div>
<script type="text/javascript" src="{JS_PATH}jquery.sGallery.js"></script>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
<script type="text/javascript">
function add_favorite(title) {
	$.getJSON('{APP_PATH}api.php?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
		if(data.status==1)	{
			$("#favorite").html('收藏成功');
		} else {
			alert('请登录');
		}
	});
}

function add_buycar(obj, id, modelid, buy) {
	var os = $(obj);
	$.get('{APP_PATH}index.php', {m:'yp', c:'index', a:'buycar', id:id, modelid:modelid, random:Math.random()}, function(data){
		if (data=='1') {
			alert('此商品不存在或已下架！');
		} else if (data=='2') {
			alert('不可购买自己的商品！');
		} else if(data=='3') {
			if (buy) {
				window.location.href="{APP_PATH}index.php?m=yp&c=index&a=buycar_list";
			} else {
				alert('商品已经添加到购物车！');
			}
		} else {
			if (buy) {
				window.location.href="{APP_PATH}index.php?m=yp&c=index&a=buycar_list";
			} else {
				var obj = eval('(' + data + ')');
				$('#product_num').html(obj.num);
				$('#product_fee').html(obj.total);
				var showBuycar=$(".show-buycar"),offset =os.offset();
				showBuycar.css({"position":"absolute","z-index":"100",left:offset.left,top:offset.top+35});
				if(showBuycar.css("display")=="none"){
					showBuycar.show();
				}else{
					showBuycar.hide();
				}
				$('#buy_show').show();
				$('#buy_show_num').html(obj.num);
			}
		}
	});
}

$.get('{APP_PATH}index.php', {m:'yp', c:'index', a:'get_buycar', random:Math.random()},function(data){
	var obj = eval('(' + data + ')');
	if (obj.num) {
		$('#buy_show').show();
		$('#buy_show_num').html(obj.num);
	}
});
</script>

{template "content","footer_product"}